* 
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Avenir;
  color: #3c3c3c; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html, body {
/*  background: red;*/
  height: 100%;
}


body { margin: 0; padding: 0}

.Welcome
{
  height: 100%;
  position: relative;
/*  border: 1px solid;*/
/*  background: pink;*/
  z-index: 3;
  background: white;
}

.Welcome
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-orient: vertical;
  
  -webkit-box-direction: normal;
  
  -ms-flex-direction: column;
  
  flex-direction: column;
}

/* This is an illusion typed text */
.Welcome__heading
{
  -webkit-animation: type 2s steps(12), blink .9s infinite alternate;
  animation: type 2s steps(12), blink .9s infinite alternate;
  
  overflow: hidden;
  
  white-space: nowrap;
  
  width: 13.2ch;
  
  border-right: 2px solid #3c3c3c;
  font-weight: 900;
  font-size: 80px;
  margin: 10px;
}

/* To animate the text */
@-webkit-keyframes type
{
  from
  {
    width: 0; /* Adding to is not necessary in this situation */
  }
}
@keyframes type
{
  from
  {
    width: 0; /* Adding to is not necessary in this situation */
  }
}

/* For the Cursor (border-right) */
@-webkit-keyframes blink
{
  50%
  {
    border-color: transparent; /* Adding to is not necessary in this situation */
  }
}
@keyframes blink
{
  50%
  {
    border-color: transparent; /* Adding to is not necessary in this situation */
  }
}

p 
{
  font-size: 18px;  
}

button, 
input[type="submit"]
{
  outline: 0;
  display: inline-block;
  cursor: pointer;
  padding: 8px;
  width: 150px;
  font-size: 22px;
  font-weight: 500;
  border: none;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px rgba(100,100,100,1.00);
  box-shadow: 0 0 1px rgba(100,100,100,1.00);
  margin-top: 50px;
}

#getstarted:hover,
button:hover,
input[type="submit"]:hover
{
  
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  background: rgba(200,200,200,0.30);
  
  background: repeating-linear-gradient(to top left,rgba(200,200,200,0.50), rgba(200,200,200,0.50) 1px, rgba(240,240,240,0.30) 1px, rgba(240,240,240,0.30) 5px);
  
  color: #222222;
}

.fadeIn
{ 
  -webkit-animation: fadeIn 1s; 
  animation: fadeIn 1s;
  -webkit-animation-fill-mode: both;
  
  animation-fill-mode: both;
}

.wait-2s
{
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.wait-3s
{
  -webkit-animation-delay: 3s;
  animation-delay: 3s;  
}

@-webkit-keyframes fadeIn
{
  from{ opacity: 0; }
  to{ opacity: 1; }
}

@keyframes fadeIn
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}






